// Greys
$color-black: #000000;
$color-darker-grey: #333333 !default;
$color-dark-grey: #666666;
$color-dim-grey: #999999;
$color-grey: #BBBBBB !default;
$color-light-grey: #DDDDDD !default;
$color-white: #FAF0FF;

/////////////// Color Scheme /////////////////////
$color-light-pink: #DD99ff;
$color-pink: #DD66EE;
$color-red: #FF5500;
$color-light-red: #FF7766;
$color-orange: #FFBB00;
$color-yellow: #EEEE00;
$color-yellow-green: #E0FF49;
$color-green: #7FFFB0;
$color-dark-green: #063008;
$color-dark-blue: #062045;
$color-light-blue: #66BBFF;
$color-cyan: #00FFFF;
$color-blue: #5887FF;
$color-turquoise: #44D9E6;
$color-light-turquoise: #A5FFD1;
$color-light-purple: #BBAAFF;
$color-purple-red: #A682FF;
$color-purple: #5533CC;
$color-dark-purple-red: #330055;
$color-dark-purple: #100A28;

$color-tan: #BFA292;
$color-dark-brown: #20100A;

$color-ie-white: #f5f7ff;
$color-ie-light-grey: #cccdd6;
$color-ie-grey: #908a95;
$color-ie-black: #222222;

$color-ie-purple: #5f3588;
$color-ie-blue: #4f85d7;
$color-ie-link: #3356b8;
$color-ie-topic: #442288;
$color-ie-green: #4fc0a2;


