body.page-type-atom {
  .main-container {
    flex-direction: inherit;
    display: block;
  }

  .header-container {
    margin-bottom: 1em;
    .header {
      padding: .5em;
    }
    h2 {
      margin: 0;
      line-height: 1.1;
    }
    .information {
      font-size: 80%;
    }
  }

  .node-links-container {
    padding: 0;
  }

  .az-properties {
    width: 315px;
    table {
      td.field__label {
        text-align: right;
      }
      .node-taxonomy-container {
        padding: 0;
        ul.taxonomy-terms {
          margin: 0;
          li {
            a {
              padding: 0;
              border: none;
            }
          }
        }
      }
    }
  }

  .field--name-body {
    max-width: 800px;
  }

  .field--name-field-atomic-structure {
    width: calc(100% - 315px);
    width: 100%;
  }

  @include media(max-width $bpsmmax) {
  }

  @include media($bpmed) {
    .az-properties {
      float: left;
      width: 315px;
    }

    .field--name-field-atomic-structure {
      position: relative;
      float: left;
      width: calc(100% - 315px);
      .az-wrapper {
        margin-left: 20px;
      }
    }
  }

}

