// body.user-login
body.path-group,
body.page-node-type-element,
body.page-node-type-news,
body.page-node-type-atom,
body.page-node-type-book,
body.page-node-type-glossary,
body.page-node-type-ticket,
body.page-node-type-article,
body.path-frontpage {
}

body.entity-node-canonical {
  .block-page-title-block {
      display: none;
  }

  #block-sa-neato-content {
    > div.content-container {
      max-width: $max-width;
      margin: 0 auto;
    }
  }
}

article.az-page {

  .sidebar-left {
    float: left;

    @include media(max-width $bp580) {
      width: 100%;
    }
    @include media($bp960) {
      width: 30%;
      max-width: 350px;
      padding-right: 40px;
    }
  }

  .main-container {
    float: left;

    @include media(max-width $bp580) {
      width: 100%;
    }
    @include media($bp960) {
      width: 70%;
    }

    > h2 {
      font-size: 225%;
    }
  }

  .field--name-body {
    margin-bottom: 20px;
    p > img {
      @include media(max-width $bp580max) {
        padding: 15px 5%
      }
      @include media($bp960) {
        padding: 15px 10%
      }
    }
  }

  article {

    .field--name-title {
      display: block;
      font-weight: bold;
//    @extend h2;
      a {
        color: $color-group;
      }
    }

  }
}

