// body.user-login
body.user-login {

  .status-messages {
    margin: 0 auto;
    width: 500px;
    margin-bottom: 30px;
  }

  main.outer-wrapper {
    #main-wrapper {
      width: 400px;
      margin: 0 auto;
    }
  }
  #block-sa-neato-content {
    .content-container {
    }
  }

  .form-item {
    margin: 1em 0;
  }

  label {
    display: inline-block;
    width: 110px;

  }
  input[type="password"],
  input[type="text"] {
    display: inline-block;
    width: 280px;
  }
  .description {
    margin-left: 120px;
  }

  .form-actions {
    text-align: center;

    #edit-submit {
      margin: 20px auto;
      width: 100px;
    }
  }

  hr {
    width: 400px;
    margin: 0 auto;
  }
} // body.page-node-type-article



