body.page-node-type-atomizer {

  #az-page-select-atom {
//  border: 1px solid $base-border-color;

    float: right;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 180px;

    @include media(max-width $bp580max) {
      .views-field-field-stability,
      .views-field-field-pt-group,
      .views-field-field__inner-electrons,
      .views-field-field__outer-electrons {
        display: none;
      }
    }

    @include media(max-width $bp960max) {
      .views-field-field-stability,
      .views-field-field__inner-electrons,
      .views-field-field__outer-electrons {
        display: none;
      }
    }

    @include media($bp1280) {
      .views-field-field-stability,
      .views-field-field__inner-electrons,
      .views-field-field__outer-electrons {
        display: none;
      }
    }

    h2 {
      margin-bottom: .2em;
    }

    table {
      margin: 0;

      th:first-child {
        text-align: center;
      }

      .atomic-number {
        display: block;
        text-align: center;
      }
    }


    .header {
      height: 30px;
    }
  }

  .az-atomizer-wrapper.select-atom-enabled {
    #az-page-select-atom {
      display: block;
      float: left;
    }
  }

  article.atomizer {
    .field--name-body {
//    margin-bottom: 10px;
    }
  }

  .field--name-field-configuration {
    textarea {
      font-family: Consolas, Monaco, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Courier, 'New Courier', monospace;
    }
  }
}


