body.page-node-type-atom {

  article.type-atom {
    .az-properties,
    .field--name-body {
      margin-bottom: 20px;
    }

    .field--name-field-notes {
      margin-bottom: 20px;

      .field__label {
        margin-bottom: 10px;
        color: $color-orange;
      }
    }

    .field--name-field-atomic-structure {
      text-align: center;
      width: 100%;

      .az-canvas-wrapper {
        margin: 0 auto;
        max-width: 1000px;
      }
    }
  }
}
