body.path-frontpage {
  @include clearfix;

  .header-top {
    border-bottom: 1px solid $base-separator-color;
    margin-bottom: 25px;

    .section-title {
      display: inline-block;

      @include media(max-width $bp580) {
        width: 100%;
      }
      @include media($bp960) {
        width: 300px;
      }
    }

    .section-announcement {
      display: inline-block;
      vertical-align: text-bottom;
      padding-left: 50px;

      @include media(max-width $bp580) {
        width: 100%;
      }
      @include media($bp960) {
        width: calc(100% - 310px);
      }
    }
  }


  .sidebar-left {
    float: left;

    @include media(max-width $bp580) {
      width: 100%;
    }
    @include media($bp960) {
      width: 300px;
      max-width: 350px;
      padding-right: 40px;
    }
  }

  .main-content {
    float: left;
    position: relative;

    @include media(max-width $bp580) {
      width: 100%;
    }
    @include media($bp960) {
      width: calc(100% - 300px);
    }
  }

  .user-header {
    margin-bottom: 30px;

    .user-text {
      display: inline-block;
      margin-left: 20px;
      vertical-align: top;
    }
    .user-picture {
      display: inline-block;
    }
  }

  .field--name-body {
    padding-bottom: 20px;
  }
}
