body.entity-group-canonical {

  main.outer-container {
    max-width: $max-width;
    @extend %layout-padding;
  }

  .page-title {
    display: none;
  }

  #main-content-group {
    @include clearfix;

    .sidebar-left {
      float: left;

      @include media(max-width $bp580) {
        width: 100%;
      }
      @include media($bp960) {
        width: 30%;
        max-width: 350px;
        padding-right: 40px;
      }
    }
    .main-center {
      float: left;

      @include media(max-width $bp580) {
        width: 100%;

      }
      @include media($bp960) {
        width: 70%;
      }
    }
  }
}

body.page-node-type-atomizer {
  main.outer-wrapper {
    max-width: none;
  }
}
