// body.user-login
body.page-node-type-book,
body.page-node-type-article {
  #page-view {
    .block-page-title-block {
      display: none;
    }
  }
}

article.az-page {
  .sidebar-left {
    float: left;

    @include media(max-width $bp580) {
      width: 100%;
    }
    @include media($bp960) {
      width: 30%;
      max-width: 350px;
      padding-right: 40px;
    }
  }


  .main-container {
    float: left;

    @include media(max-width $bp580) {
      width: 100%;
    }
    @include media($bp960) {
      width: 70%;
    }
  }

  article.type-article,
  article.type-book {
    .field--name-title {
      display: block;
      font-weight: bold;
      @extend h2;
      a {
        color: $color-gold;
      }
    }
    .field--name-body {
      margin-bottom: 20px;
    }
  }
}

