.view.az-comments {

  .title {
    font-size: 125%;
    font-weight: bold;
  }

  .parent {
    line-height: 1.2;
  }

  .header {
    padding-bottom: 10px;
  }

  .views-row {
    padding: 12px 0;
    border-bottom: 1px solid $base-separator-color;
  }

  .changed {
    color: $color-grey;
    font-style: italic;
  }

  .state {
    color: black;
    padding: 1px 5px;
    border-radius: 5px;

    &.published   { background-color: $color-published; }
    &.unpublished { background-color: $color-unpublished; }
    &.needs       { background-color: $color-needs-review; }
    &.draft       { background-color: $color-draft; }
    &.placeholder { background-color: $color-placeholder; }
  }
}
