.view.recent-activity {
  h3.title {
    margin: 0;
    a {
      color: $color-green;
    }
  }

  .header {
    margin-bottom: 15px;
  }

  .views-row {
    padding: 20px 0;
    border-bottom: 1px solid $base-separator-color;
  }

  .group-container {
    float: right;
    position: relative;
    width: 28%;
    max-width: 150px;
    margin-left: 20px;

    img {
      border-radius: 4px;
    }

    .group-label-container {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      font-size: 90%;
      background-color: rgba(0,0,0,.4);
      .group-label {
        text-align: center;
        font-weight: bold;
        line-height: 1.1;
        color: $color-group;
        @include vertical-center;
        padding: 5px;
      }
    }
  }

  .type {
    &:before {
      color: darken($color-white, 35%);
      margin-right: 5px;
    }
    &.article { @extend .az-fa-file-text; } 
    &.news    { @extend .az-fa-newspaper; }
    &.book    { @extend .az-fa-book; }
    &.event   { @extend .az-fa-calendar; }
  }

  .media {
    margin-right: 20px;
    float: left;
  }

  .changed {
    color: $color-grey;
    font-style: italic;
  }

  .state {
    color: black;
    padding: 2px 6px;
    border-radius: 5px;

    &.published    { background-color: $color-published; }
    &.unpublished  { background-color: $color-unpublished; }
    &.needs-review { background-color: $color-needs-review; }
    &.draft        { background-color: $color-draft; }
    &.placeholder  { background-color: $color-placeholder; }
  }

}
