.view.recent-activity {
  .title {
    font-size: 160%;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .header {
    margin-bottom: 10px;
  }

  .views-row {
    padding: 12px 0;
    border-bottom: 1px solid $base-separator-color;
  }

  .group-container {
    float: right;
    position: relative;
    width: 28%;
    max-width: 150px;
    margin-left: 20px;

    .group-label-container {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      font-size: 90%;
      background-color: rgba(0,0,0,.3);
      .group-label {
        text-align: center;
        font-weight: bold;
        line-height: 1.1;
        color: $color-group;
        @include vertical-center;
        padding: 5px;
      }
    }
    article {

    }
  }

  .changed {
    color: $color-grey;
    font-style: italic;
  }

  .state {
    color: black;
    padding: 2px 6px;
    border-radius: 5px;

    &.published    { background-color: $color-published; }
    &.unpublished  { background-color: $color-unpublished; }
    &.needs-review { background-color: $color-needs-review; }
    &.draft        { background-color: $color-draft; }
    &.placeholder  { background-color: $color-placeholder; }
  }

}
