div.its-all-electric-logo {

  width: 180px;
  float: left;
  display: inline-block;

  > a {
    text-decoration: none;
  }

  h2 {
    margin: 0;
    word-wrap: break-word;

    @include media(max-width $bp580max) {
      padding: 0 20px;
    } // $bp320only

    @include media($bp960) {
      font-size: 120%;
      padding: 20px;
    } // $bp960
  }

  .sitename {
    color: #c6a2ff;
    text-shadow: 0 0 4px #5ff;
    opacity: .7;
    position: relative;
    display: inline-block;
    vertical-align:top;
    font-style: italic;
    font-family: cursive;
    font-weight: 100;
    margin-top: 3px;
    font-size: 24px;
    z-index: 1;
    @include transform (rotate(-8deg));
  }
}

