{{ attach_library('thexpro/tiny-slider') }}
<section class="slider">
  <div class="container slider-container2">
    <div class="tiny-slider">
      <li>
      <div class="tiny-slider-item">
        <div class="tiny-slider-text">
          <h1 class="layer1">Slider one</h1>
          <h3 class="layer2">Sub-heading slider Two</h3>
        </div><!-- /tiny-slider-text  -->
        <div class="tiny-slider-image">
          <img src="/images/slide1.svg" alt="slide image" />
        </div><!-- /tiny-slider-image -->        
      </div><!-- /tiny-slider-item -->
      </li>
      <li>
      <div class="tiny-slider-item">
        <div class="tiny-slider-text">
          <h1 class="layer1">Slider Two</h1>
          <h3 class="layer2">Sub-heading slider Two</h3>
        </div><!-- /tiny-slider-text  -->
        <div class="tiny-slider-image">
          <img src="/images/slide2.svg" alt="slide image" />
        </div><!-- /tiny-slider-image -->  
      </div><!-- /tiny-slider-item -->
      </li>
      <li>
      <div class="tiny-slider-item">
        <div class="tiny-slider-text">
          <h1 class="layer1">Slider Three</h1>
          <h3 class="layer2">Sub-heading slider Three</h3>  
        </div><!-- /tiny-slider-text  -->
        <div class="tiny-slider-image">
          <img src="/images/slide3.svg" alt="slide image" />
        </div><!-- /tiny-slider-image -->  
      </div><!-- /tiny-slider-item -->
      </li>
    </div>
  </div> <!--/.container -->
</section>