{{ attach_library('eduxpro/tiny-slider') }}
<section class="slider2">
  <div class="container slider-container2">
    <div class="tiny-slider">
      <li>
        <div class="tiny-slider-item"></div>
      </li>
      <li>
        <div class="tiny-slider-item"></div>
      </li>
      <li>
        <div class="tiny-slider-item"></div>
      </li>
    </div>
  </div> <!--/.container -->
</section>