// Start content of ckeditor content area and output to screen.
$cke-bg: #cdf;

body.cke_editable {
  padding: .25em 1em;

}
body.cke_editable,
.field--name-field-body {

}


.entity-embed-dialog {
  .form-item-attributes-data-caption {
    display: none;
  }
}

.cke_inner {
  .cke_bottom,
  .cke_top {
    background: $cke-bg;
    padding: 4px 8px 0;
  }
  .cke_contents {
    > textarea.cke_source {
      background-color: darken($base-background-color, 10%);
      padding: .25em .5em;
    }
  }

  .cke_path {
    display: none;
  }

  &.cke_maximized {
    z-index: 10000;
  }


  #cke_30 {
    clear: both;
  }
}

.filter-wrapper {
  padding: 0;
  .filter-help {
    display: none;
  }

  .form-type-select {
    label {
      margin-left: 10px;
    }
    select {
      display: inline;
      margin: 5px;
    }
  }
}

.embedded-entity {
  padding-bottom: 1em;
  &.align-left {
    margin-right: 1.5em;
  }
  &.align-right {
    margin-left: 1.5em;
  }
  &.align-center {
    margin: 0 auto;
  }
  &.az-view-mode-map {
    min-height: 100px;
    min-width: 100px;
  }

  .field--name-name {
    text-align: center;
    color: tint($color-gold, 50%);
    line-height: 1.2;
    margin-top: 5px;
    font-style: italic;
  }

  .atomizer {
    h2 {
      display: none;
    }
  }
}

.text-formatted,
.cke_editable {

  .cke_widget_drupalentity {
//  clear: both;
  }

  h1, h2, h3 {
    clear: both;
  }
}

.cke_panel_listItem {
  &.cke_selected {
    a {
      background-color: lighten($base-background-color, 10%);
    }
  }

  a:hover {
    background-color: lighten($base-background-color, 20%);
  }
}

.az-image  {
  .field--name-image {
    margin-bottom: 10px;
  }
  .field--name-name {
    color: $color-light-gold;
    font-size: 110%;
    text-align: center;
    margin-bottom: 10px;
  }
  .field--name-field-description {
    font-style: italic;
    margin: 0 5% 10px;
  }
}

.embedded-entity {

  &.az-view-mode-media-small,
  &.az-view-mode-media-small-w-desc {
    @include media($bp320only) {
      width: 50%;
    }
    // $bp320only

    @include media($bp580only) {
      width: 50%;
    }
    // $bp580only

    @include media($bp960only) {
//    margin: 0 auto !important;
      width: 33%;
    }
    // $bp960only

    @include media($bp1280only) {
//    margin: 0 auto !important;
      width: 25%;
    }
    // $bp1280only

    @include media($bp1920) {
      width: 20%;
//    margin: 0 auto !important;
    }
    // $bp1920
  }

  &.az-view-mode-media-medium,
  &.az-view-mode-media-medium-w-desc {
    @include media($bp320only) {
      width: 90%;
      margin: 0 auto !important;
      float: none;
    }
    // $bp320only

    @include media($bp580only) {
      width: 70%;
      margin: 0 auto !important;
      float: none;
    }
    // $bp580only

    @include media($bp960only) {
      width: 50%;
    }
    // $bp960only

    @include media($bp1280only) {
      width: 33%;
    }
    // $bp1280only

    @include media($bp1920) {
      width: 25%;
    }
    // $bp1920
  }

  &.az-view-mode-media-large,
  &.az-view-mode-media-large-w-desc {
    @include media($bp320only) {
      width: 100%;
      float: none;
    }
    // $bp320only

    @include media($bp580only) {
      width: 100%;
      float: none;
    }
    // $bp580only

    @include media($bp960only) {
      float: none;
      margin: 0 auto !important;
      width: 90%;
    }
    // $bp960only

    @include media($bp1280only) {
      float: none;
      margin: 0 auto !important;
      width: 80%;
    }
    // $bp1280only

    @include media($bp1920) {
      float: none;
      width: 70%;
      margin: 0 auto !important;
    }
    // $bp1920
  }

  img {
    width: 100%;
  }
}

.hljs {
  background-color: #111;
  border-radius: 8px;
  .php { color: #ddd; }
  .hljs-comment { color: #3a3; }
  .hljs-keyword { color: #96f; }
  .hljs-preprocessor { color: #888; }

}
