#atomizer-bessel {
  background-color: $color-dark-green;
  border-radius: 8px;
//border: solid 1px $color-green;

  .title {
    margin: 5px;
    display: none;
  }
  position: absolute;
  canvas {
    border-radius: 6px;
    margin: 5px;
    height: 33%;
    background-color: black;
    vertical-align: bottom;
  }
  img {
    margin: 10px;
    display: none;
  }
}