.maestro-stream.entity-node {

  ////////////////////// teaser
  &.teaser {

    > .title-container {
      border-bottom: 2px solid $base-separator-color;
      h2 {
        padding: 10px 0;
        margin: 0;
      }
    }

    h3 {
      margin: 0 0 3px;
      font-size: 140%;
      a {
        span {
          color: $color-green;
        }
      }
    }

    .information {
      font-size: 80%;
      margin-bottom: 15px;

      .type {
        &:before {
          color: darken($color-white, 15%);
        }
      }

      .changed {
        color: $base-date-color;
        font-style: italic;
      }

      .state {
        color: black;
        padding: 2px 6px;
        border-radius: 5px;

        &.published    { background-color: $color-published; }
        &.unpublished  { background-color: $color-unpublished; }
        &.needs-review { background-color: $color-needs-review; }
        &.draft        { background-color: $color-draft; }
        &.placeholder  { background-color: $color-placeholder; }
      }
    } // .information

    .group-container {
      float: right;
      position: relative;
      width: 28%;
      max-width: 150px;
      margin-left: 20px;

      img {
        border-radius: 8px;
        display: block;
        @extend %box-shadow;
      }

      .group-label-container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 90%;
        background-color: rgba(0,0,0,.3);
        border-radius: 8px;

        .group-label {
          color: $color-group;
          text-align: center;
          font-weight: bold;
          line-height: 1.1;
          padding: 5px;
          @include vertical-center;
          @extend %text-shadow;
        }
      }
    }

    .field--name-field-tooltip {
      margin: 5px 0;
    }

    .field--name-body {
      margin: 10px 0;
    }

    .node__links {
      font-size: 80%;
      @include clearfix;

      li {
        padding: 0 30px 0 0;
      }
      .node-readmore {
        float: right;
      }
      .comment-add {
        display: none;
      }
      .statistics-counter {
        float: left;
      }
    }
  }

  ////////////////////// teaser-short
  &.teaser-short {

    h3 {
      margin: 0 0 3px;
      font-weight: normal;
      font-size: 100%;
    }

    .content-container {
      padding: 0 15px 10px;
    }
    .information {
      font-size: 80%;

      .type {
        &:before {
          color: darken($base-font-color, 15%);
        }
      }

      .changed {
        color: $base-date-color;
      }
    }
  }
}
