.maestro-stream {
  &.teaser-short {

    .az-row {
      padding: 10px 0;

      border-bottom: 1px solid $base-separator-color;
      &:not(:last-child) {
//      border-bottom: 1px solid $base-separator-color;
      }
    }

    h3 {
      margin: 0 0 3px;
      font-weight: normal;
      font-size: 100%;
    }

    .information {
      font-size: 80%;

      .type {
        &:before {
          color: darken($color-white, 15%);
        }
      }

      .changed {
        color: $base-date-color;
      }
    }
  }

  .more-container {
    text-align: center;
    position: relative;
    min-height: 5px;

    input {
      margin: 10px auto 0;
    }

    .status-container {
      font-size: 75%;
      padding-left: 8px;
      background-color: $base-background-color;
      color: $color-turquoise;
      position: absolute;
      right: 0;
      top: -8px;
    }
  }
}