.block-region-sidebar {
  .views-element-container {
    .content-container {
      padding: 7px 0;
    }
  }
}

.view-id-az_groups {
  .view-content {
    @include clearfix;
  }

  .views-row {
    float: left;
    @include media(max-width $bp580max) {
      padding: 10px;
    }
    @include media($bp960) {
      padding: 8px 15px;
    }
    overflow: hidden;
//  position: relative;
    width: 100%;

    .group-container {
      position: relative;
    }
    .group-label {
      position: absolute;
      text-align: center;
      z-index: 5;
      background-color: rgba(0,0,0,.2);
      text-shadow: 1px 1px 3px #104;

      @include media($bp320only) {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
      }

      @include media($bp580) {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      a {
        display: block;
        line-height: 1.1;
        font-weight: bold;
        color: $color-group;
        overflow-wrap: break-word;
        padding: 2px 7px;
        border-radius: 5px;
        @include vertical-center;

        @include media($bp320only) {
          font-size: 100%;
        }
        @include media($bp580only) {
          font-size: 110%;
        }
        @include media($bp960only) {
          font-size: 150%;
        }
        @include media($bp1280) {
          font-size: 175%;
        }
      }
    }
  }
}

.block-system-main-block {
  .view-id-az_groups {
    .views-row {
      @include media($bp320only) {
        width: calc(100% / 2);
      }
      @include media($bp580only) {
        width: calc(100% / 3);
      }
      @include media($bp960only) {
        width: calc(100% / 4);
      }
      @include media($bp1280) {
        width: calc(100% / 5);
      }
      @include media($bp1920) {
        width: calc(100% / 7);
      }
    }
  }
}

.block-region-sidebar {
  .view-id-az_groups {
    .views-row {
      @include media($bp320only) {
        width: 50%;
      }
      @include media($bp580only) {
        width: calc(100% / 3);
      }
      @include media($bp960only) {
        width: calc(100% / 1);
      }
      @include media($bp1280) {
        width: calc(100% / 1);
      }
    }
  }
}
