
.block-az-book {
  line-height: 1.2;
  margin-bottom: 30px;

  div.content-container {
    font-size: 90%;

    #group-links {
      margin-bottom: 15px;

      > div {
        margin-bottom: 5px;
      }
    }

    #book-title {
    }

    #book-pages {
      position: relative;
      margin-left: 12px;

      &.hide-unpublished {
        .menu-item--unpublished {
          display: none;
        }
      }

      > ul {
        margin-top: 3px;
        padding: 0;
      }

      ul ul {
        padding: 0 0 0 .8em;
      }
    }
    hr {
      margin: 0 0 12px;
    }

  }

  h1 {
    font-size: 36px;
    margin-bottom: 10px;
    a {
      color: $color-gold;
      &:hover {
        color: lighten($color-gold, 25%);
      }
    }
  }

  #book-buttons {
    position: absolute;
    top: -32px;
    right: 0;

    > div {
      float: left;
      opacity: .35;
      @include transition-3d;
      &#book-show-all,
      a {
        padding: 3px;
        color: $color-white;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  li.menu-item {
    list-style-image: none;
    list-style-type: none;
    position: relative;
    padding: 0;
    @include transition-3d;

    &::before {
      content: '';
      width: 1em;
      height: 1em;
      display: block;
      position: absolute;
      top: .25em;
      left: -.75em;
    }

    a {
      display: block;
      color: $color-green;
      padding: .20em 0 .20em .25em;
    }
  }

  li.menu-item--children {
    &::before {
      background-image: url($images-path + 'right-arrow.svg');
      background-size: cover;
      background-position: center;
    }

    > .list-wrapper {
      max-height: 0;
      @include transition-3d($duration: 1500ms);
      overflow-y: hidden;
    }
  }

  li {
    &.menu-item--children:hover {
      > .list-wrapper {
//      height: inherit;
      }
    }

    &.menu-item--expanded {
      &::before {
        @include transform(rotate(90deg));
        background-image: url($images-path + 'right-arrow.svg');
        display: block;
      }

      > .list-wrapper {
        max-height: 400px;
        > ul {
          display: block;
        }
      }
    }

    &.menu-item--placeholder {
      > a {
        color: $color-medium-grey;
      }
    }

    &.menu-item--needs-review {
      > a {
        color: #ec76ff;
      }
    }

    &.menu-item--draft {
      > a {
        color: #55aaff;
      }
    }

    &.menu-item--active {
      > a {
        color: $color-white;
      }

      &.menu-item--active {
        > a {
          color: $color-white;
        }
      }
    }
  }
}
