body.path-user {
  ul.page-tabs {
    li:nth-child(2) {
      display: none;
    }
  }
  .block-eduxpro-sub-primary-local-tasks {
    padding-top: 2em;
  }
}

form.user-login-form {
  .header {
    margin-bottom: 2em;
    padding-left: 1em;
  }
  .forgot-password {
    margin-top: 2em;
  }

  .form-actions {
    margin-top: 3em;
  }
}
