// $medium-screen: em(640) !default;
// $large-screen: em(860) !default;

$min-width-sm: 320;
$min-width-med: 768;
$min-width-lg: 992;
$min-width-xlg: 1440;

$bpsm: rem($min-width-sm);
$bpmed: rem($min-width-med);
$bplg: rem($min-width-lg);
$bpxlg: rem($min-width-xlg);

$bpsmmax: rem(($min-width-med - 1));
$bpmedmax: rem(($min-width-lg - 1));
$bplgmax: rem(($min-width-xlg - 1));

$bpsmonly: max-width $bpsmmax;
$bpmedonly: min-width $bpmed max-width $bpmedmax;
$bplgonly: min-width $bplg max-width $bplgmax;



