$color-white: #f0f0f0;

$color-published: #ff00ff;
$color-unpublished: #ff00ff;
$color-needs-review: #ff00ff;
$color-draft: #ff00ff;
$color-placeholder: #ff00ff;
$color-confidential: #ff00ff;
$color-box-shadow: #ff00ff;
$color-overlay: #ff00ff;
$color-title: #ff00ff;
$color-topic: #ff00ff;
$color-light-title: #ff00ff;

$base-background-color: #555555;

$color-green: #00cc00;
$color-dark-green: #005500;
$color-dark-blue: #000055;

$base-font-color: #00ffff;
$base-date-color: #ff00ff;
