
#layout-builder {
  background-color: inherit;
}
.layout-builder-block {
  background-color: inherit;
}

.layout-builder__add-section {
  background-color: inherit;
}

.layout--twocol-section {
  .layout__region--first {
    padding-right: 1.5em;
  }
}
