body.user-login {
  nav.tabs {
    display: none;
  }
}

#block-sa-neato-local-tasks {
  nav.tabs {
    a {
      border-radius: 6px;
      padding: .5em 1em;
      &.is-active {
        background-color: lighten($base-background-color, 15%);
      }
      &:hover {
        background-color: lighten($base-background-color, 30%);
      }
    }
  }
}

body.entity-user-canonical,
body.entity-group-canonical,
body.entity-node-canonical {
  #block-sa-neato-local-tasks {
    position: relative;

    .contextual {
      display: none;
    }
    .content-container {
      height: 0;
    }

    .edit-button {
      @extend .az-fa-pencil;
      &:before {
        color: $color-white;
        position: absolute;
        top: -10px;
        right: -20px;
        opacity: .4;
        @include transition-3d($property: opacity);
      }
      &:hover:before {
        opacity: 1;
      }

    }

    nav.tabs {
      margin-bottom: 1em;

      @extend .az-fa-tasks;
      &:before {
        position: absolute;
        right: -20px;
        top: -30px;
        opacity: .4;
        @include transition-3d($property: opacity);
      }

      ul.tabs {
        display: none;
        position: absolute;
        right: -20px;
        top: -20px;
        z-index: 20;
        background-color: $color-dark-green;
        border: 2px solid $color-green;
        border-radius: 8px;

        li {
          display: block;
          margin-right: 0;
          &:last-child {
            margin-right: 0;
          }
        }

        a {
          padding: .5em;
        }
      }

      &:hover {
        &:before {
          opacity: 1;
        }

        ul.tabs {
          display: block;
        }
      }
    }
  }
}

ul.az-tabs {
  list-style: none;
  border-bottom: 2px solid $secondary-background-color;
  padding: 0;
  position: relative;
  @include clearfix;

  li.tab {
    float: left;

    .tab-title {
      margin-right: 4px;
      border: 2px solid $base-separator-color;
      border-bottom: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      h2 {
        font-size: 112.5%;
        color: $color-green;
        padding: 5px 10px;
        margin: 0;
      }
    }

    .tab-content {
      display: none;
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
    }

    &.active {
      h2 {
        background-color: $secondary-background-color;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }

      .tab-content {
        display: block;
      }
    }
  }
}
