#block-sa-neato-local-tasks {
  position: relative;
  .contextual {
    display: none;
  }
  .content-container {
    height: 0;
  }

  nav.tabs {
    margin-bottom: 1em;

    @extend .az-fa-pencil;
    &:before {
      position: absolute;
      right: -20px;
      top: -30px;
      opacity: .2;
      @include transition-3d($property: opacity);
    }

    ul.tabs {
      display: none;
      position: absolute;
      right: -20px;
      top: -20px;
      z-index: 10;
      background-color: $color-dark-green;
      border: 2px solid $color-green;
      border-radius: 8px;

      li:last-child {
        margin-right: 0;
      }

      a {
        border-radius: 6px;
        padding: 1em;
        &.is-active {
          background-color: lighten($base-background-color, 15%);
        }
        &:hover {
          background-color: lighten($base-background-color, 30%);
        }
      }
    }

    &:hover {
      &:before {
        opacity: 1;
      }

      ul.tabs {
        display: block;
      }
    }
  }
}

ul.az-tabs {
  list-style: none;
  border-bottom: 2px solid $secondary-background-color;
  padding: 0;
  position: relative;
  @include clearfix;

  li.tab {
    float: left;

    .tab-title {
      margin-right: 10px;
      border: 2px solid $base-separator-color;
      border-bottom: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      h2 {
        font-size: 112.5%;
        color: $color-green;
        padding: 5px 10px;
        margin: 0;
      }
    }

    .tab-content {
      display: none;
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
    }

    &.active {
      h2 {
        background-color: $secondary-background-color;
      }

      .tab-content {
        display: block;
      }
    }
  }
}
