
.az-hidden {
  display: none !important;
}
/*
.ui-dialog.az-dialog {
  background: $color-controls;
  .ui-dialog-titlebar {
  }
  .ui-dialog-titlebar-close {
    color: black;
  }
}

.ui-dialog-buttonpane .form-actions .form-submit {
  background: $color-button;
}


.az-error {
  color: red;
}
*/
