
// Atom Builder Controls form
form.az-controls-form {

  .blocks--nuclet-list {
    .nuclet {
      font-size: 14px;
    }

    .shell-1 {
      margin-left: 10px;
    }

    .shell-2 {
      margin-left: 20px;
    }

    .shell-3 {
      margin-left: 30px;
    }

    .shell-4 {
      margin-left: 40px;
    }
  }

  .blocks--nuclet-list {
    .atom--num-protons--label,
    .atom--num-electrons--label {
      font-size: 16px;
    }

    .text-label {
      width: 4em;
    }

    .text-value {
      font-size: 14px;
    }

    .az-header {
      margin: 0 0 5px;
    }
  }

  .blocks--nuclet-form {
    padding: 5px;
    background: $color-controls-wrapper;
    border: solid 1px $color-border;
    border-radius: 8px;
    margin-bottom: 5px;

    .form-item {
      margin: 0;
      &.nuclet--state {
        margin-bottom: 5px;
      }
    }

    .az-slider {
      width: 41%;
    }

    .az-value {
      background: inherit;
      width: 1em;
    }

    .az-control-range {
      font-size: 14px;
      font-weight: bold;
    }

    label {
      margin: 0;
    }

    &::before {
      display: none;
    }

    textarea#edit-field-atomic-structure-0-value {
      font-family: "New Courier";
    }

    .nuclet--delete {
      margin-top: 5px;
    }

    #edit-nuclet-grow-0,
    #edit-nuclet-grow-1 {

      label {
        display: inline-block;
        margin: 0 10px 0 5px;
      }

      .form-item {
        display: inline-block;
      }

      .nuclet-list-button {
        margin: 1px 0px;
        padding: 1px 5px;
        background: $color-button;
        color: white;
        border-radius: 6px;
      }
    }
  }
}
